./Plotting/Plot/RIB/
./Plotting/Plot/AutoCorr/
./Plotting/MegaData7_7worms_V5.h5
./Acquiring_Data/TransferToCluster_to_train_h5_remotely/venvGui_kuma.tar.gz
Plotting/MegaData7_7worms_V5.h5
Plotting/Plot/RIB
Plotting/Plot/RIB/*
Plotting/Plot/AutoCorr
Plotting/Plot/AutoCorr/*

