connected-components-3d==2.0.0
h5py==3.1.0
importlib_resources==6.3.2
ipykernel==6.29.3
ipympl==0.9.3
ipython==8.12.3
jupyter
matplotlib==3.7.5
nd2reader==3.3.0
notebook
opencv-python==4.5.1.48
pandas
pillow
plotly==5.23.0
scikit-learn 
scipy 
seaborn 

